.user-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    display: flex;
    max-width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 800px;
}

.logo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top center;
    align-items: center;
}

.social {
    background-color: transparent;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

.social-card:hover {
    transition: 0.2s;
    border: 1px solid #ea9974;
    box-shadow: 1px 1px 4px 0px #ea5f1e;
}

.social-card { 
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.social-card-to-remove { 
    height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.social-card-empty { 
    height: 50px;
    width: 55px;
    margin: 10px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    justify-content: center;
    display: flex;
    cursor: pointer;
    border-radius: 30px;
    border: none;
}

.social-card-empty:hover{
    transition: 0.3s;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
}

.card-remove {
    width: 100%;
    border:none;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); */
    /* box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5); */
}

.card-remove:hover {
    transition: 0.3s;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
    /* border: 2px solid rgb(255, 136, 136); */
}

.social-card-remove {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 100%;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.social-card-remove:hover {
    transition: 0.3s;
    border-radius: 30px;
    border: 1px solid rgb(255, 136, 136);
    box-shadow: 0px 0px 4px 2px rgb(255, 136, 136);
}

.user-name-container {
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    display: flex;
    width: max-content;
}

.user-sumary-input {
    padding-left: 5px;
    display: block;
    color: white;
    font-family: 'Timeburner';
    font-size: 1.1em;
    line-height: 25px;
    width: max-content;
    resize: none;
    width: 100%;
    background-color: transparent;
    border: transparent;
    outline: 1px solid rgba(255, 255, 255, 0.387);
}

.user-sumary {
    padding-left: 5px;
    display: inline;
    color: white;
    font-size: 1.1em;
    line-height: 25px;
    width: 100%;
}

.user-sumary-edit:hover {
    outline: 1px solid rgba(255, 255, 255, 0.387);
}

.user-sumary-edit {
    padding-left: 5px;
    display: inline;
    color: white;
    font-size: 1.1em;
    line-height: 25px;
    width: 100%;
}

.user-line {
    left: 0%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    height: 0;
    border: 1px solid  rgba(255, 255, 255, 0.387);
    display: inline-block;
}

.space-btw-card {
    margin-bottom: 20px;
}