.card {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
    transition: 0.1s;
    width: 100%;
    /* margin: 0px 0% 15px 0%; */
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 400;
}