:root {
  font-family: Timeburner, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 1.7em;
  line-height: 25px;
  font-weight: 400;
  color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'Timeburner';
  src: local('Timeburner-xJB8'), url(./assets/fonts/Timeburner-xJB8.ttf) format('truetype');
}

@font-face {
  font-family: 'Timeburner';
  font-weight: bold;
  src: local('Timeburner-xJB8'), url(./assets/fonts/TimeburnerBold-peGR.ttf) format('truetype');
}